<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Configuration DTD -->
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- 마이바티스 3 설정 항목을 넣는 태그 -->  
<!-- 	최상위 부모 태그 -->
<configuration>

	<!-- 프로젝트(프로그램)가 접속할 수 있도록 DB정보들을 설정할 수 있다 -->
	<environments default="dev">
	
		<!-- 접속할 DB에 대한 정보 -->
		<environment id="dev">
		
			<!-- JDBC -->
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
				<property name="username" value="scott"/>
				<property name="password" value="tiger"/>
			</dataSource>			
		</environment>
	</environments>

	<!-- config에 mybatis가 실핼할 수 있도록 mapper등록해야 인식함 -->
	<mappers>
		<mapper resource="dao/EmpMapper.xml"/>
	</mappers>

	
</configuration>
